.JoinPage{
    background-color:lightblue;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}  

.JoinContainer{
  
   width:50%;
   display:flex;
   flex-direction: column;
   align-items:center;
   padding: 15px;
}

.JoinContainer > img{
    width:10vmax;
   
}

.JoinContainer > h1{
    color:black;
    font-size: 2.5vmax;
    font-family: "Roboto";
    width:25vmax;
    border-bottom:0.2vmax solid white;
    text-align:center;
    padding:5px;

}
#JoinInput{
    width:25vmax;
    padding:1.5vmax;
    border:none;
    outline:none;
    margin:2vmax;
    font-size: 1.2vmax;
    box-sizing: border-box;
}
.joinBtn{
    width:25vmax;
    padding:1.5vmax;
    border:none;
    outline:none;
    font-family: "Roboto";
    font-size: 1.2vmax;
    background-color: lavender;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor : pointer;
}
.joinBtn:hover{
    background-color: lavenderblush;
     font-size: 1.3vmax;
     
}